{% extends "data/base.html" %}

{% block inner_content %}

<form id="batch_form" action="" method="POST" onsubmit"" name="batch_form">
       Images per batch<br>
         <input type="text" name="batch_size"><br>
        <input type=submit value=batch_size>
 </form> 

<form id="label_form" action="" method="POST" onsubmit"" name="annotate_form">
    <table>
        {% for (filename, distribution) in active_learning_query %}
            <tr>
                <td>
                    <a class="image" href="{{url_for('unlabeled', filename=filename)}}" style="width: {{ filename.width }}px; height: {{ filename.height }}px">
                        <img src={{url_for('unlabeled', filename=filename)}} width="{{ filename.width }}" height="{{ filename.height }}" />
                    </a>
                </td>
                <td>
                    {% for label in all_labels %}
                        <input type=radio name={{filename}} value={{label}}>{{label}}  {{distribution[label]}}</br>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <input type=submit value=annotate>
</form>
{% endblock %}
